.form-top {
overflow: hidden;
padding: 0 25px 15px 25px;
background: #444;
background: #35495e;
border-radius: 4px 4px 0 0;
text-align: left;
}
.form-top-left {
float: left;
width: 75%;
padding-top: 25px;
}
.form-top-left h3 {
margin-top: 0;
color: #fff;
}
.form-top-left p {
opacity: 0.8;
color: #fff;
}
.form-top-right {
float: left;
width: 25%;
padding-top: 5px;
font-size: 66px;
color: #fff;
line-height: 100px;
text-align: right;
opacity: 0.3;
}
.form-bottom {
padding: 25px 25px 30px 25px;
background: #444;
background: #35495e;
border-radius: 0 0 4px 4px;
text-align: left;
}
.form-bottom form textarea {
height: 100px;
}
.form-bottom form button.btn {
width: 100%;
}
.form-bottom form .input-error {
border-color: #19b9e7;
}
.olfu-custom-input {
height: 50px;
padding-right: 20px;
padding-left: 20px;
color: #888;
border-radius: 5px;
box-shadow: none;
border: 3px solid #FFF;
}
.olfu-custom-input:focus {
border: 3px solid #26C281;
}
.olfu-custom-button {
padding: 15px;
background: #41b883;
border: 0;
font-size: 15px;
color: #fff;
border-radius: 5px;
cursor: pointer;
text-align: center;
white-space: nowrap;
display: inline-block;
width: 100%;
}
.olfu-custom-button:hover {
background: #26C281;
}
.olfu-custom-button:active {
background: #26C281;
}
.olfu-custom-button:focus {
background: #26C281;
}
.custom-background {
background: #41b883; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#41b883, #35495e); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#41b883, #35495e); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#41b883, #35495e); /* For Firefox 3.6 to 15 */
background: linear-gradient(#41b883, #35495e); /* Standard syntax */
background-attachment: fixed;
}
.nav-custom {
background: #35495e;
border: none;
}
.nav-custom-color {
color: #FFF !important;
}
.nav-custom-color:hover {
color: #EEE !important;
}
.dropdown-menu-custom {
background: #717F8E;
border: none;
}
.dropdown-list-custom {
color: #FFF !important;
}
.dropdown-list-custom:hover {
background: #019875 !important;
color: #EEE !important;
}
.dropdown-toggle-custom {
background: #019875 !important;
}
.modal-custom-margin {
margin-top: 200px;
}
.modal-custom-color {
background: #019875;
color: #fff;
border: 3px solid #41b883;
}
.modal-custom-color-error {
background: #CF000F;
color: #fff;
border: 3px solid #E74C3C;
}
.navbar a {
outline: none !important;
}
body {
margin-top: 100px;
margin-bottom: 100px;
}
select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #888;
}
.no-display {
display: none;
outline: none;
}
.serving-text-color {
color: #DDD;
}
.serving-margin {
margin-right: 100px;
}
.info-text {
color: #FFF;
font-size: 1.3em;
}
.bottom-panel-margin {
margin-bottom: 30px;
}
.table-text {
color: #FFF;
}
.custom-button-assign {
	background: #019875;
}
.custom-button-assign:hover {
	color: #EEE;
}
.href-text {
	color: #5294E2;
}
.href-text:hover {
	color: #5294E2;
}
.href-text:focus {
	color: #5294E2;
}
.href-text:visited {
	color: #5294E2;
}
